.bg-container{
    box-sizing: border-box;
}

.logo{
    width: 150px;
}
@media screen and (max-width:768px){
    .logo{
        width:80px;
    }
}

.link{
    display: flex;
    /* margin-bottom: 20px; */
    align-items: center;
    text-decoration: none;
    padding: 10px 15px;
    gap: 20px;
}

.link:hover{
    background-color: hsla(30, 100%, 50%, 0.41);
    border-radius: 10px;
}

.icon{
    height:35px;
    width: 32px;
}

.link-text{
    font-weight: bold;
    color: black;
    font-size:22px;
}

@media screen and (max-width:1060px){
    .icon{
        height:15px;
        width:35px;
    }
    .link-text{
        font-size:15px;
        
    }
}
@media screen and (max-width:850px){
    .link-text{
        font-size:12px;
    }
    .icon{
        height:12px;
        width:28px;
        
    }
}

@media screen and (max-width:767px){
    .link-text{
        font-size:25px;
    }
    .icon{
        height:18px;
        width:30px;
    }
}