.login-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form{
    border: 1px solid;
    padding: 20px;
    border-radius: 10px;
}

input[type="submit"]{
    width: 100%;
    padding: 7px;
}

input[type="submit"]:hover{
    background-color: #72bce7;
    outline: none;
    border: 1px solid #72bce7;
}

.user-input{
    width: 93%;
    padding: 7px;
    margin-bottom: 20px;
}

.error{
    margin-bottom: 20px;
}

p{
    margin-bottom: 0;
}