.bg-container{
  display: flex;
  min-height: 100vh;
}

.leftsidebar{
  background-color: #ECECEC;
  width: auto;
  padding: 10px;
  border-radius: 0px 50px 50px 0px;
  min-height: 100%;
}

.rightsidebar{
  width: 90%;
  padding: 20px;
}

*{
  box-sizing: border-box;
  margin: 0;
}